body {
  padding: 20px;
  text-align: center;
  font-weight: 300;
  margin: 0;
  color: #333;
  background: linear-gradient(45deg, #4CAF50, #2196F3);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  width: 70%;
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 20px auto;
}

#root > div > div > h1 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 2em;
}

code {
  font-family: "Courier New", Courier, monospace;
}

/* Additional Styling for Links */
a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #1e87f0;
}
